/* light */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/karla-v31-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/rubik-v28-latin-700.woff2') format('woff2');
}

/* dark */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/nunito-sans-v15-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/nunito-v26-latin-700.woff2') format('woff2');
}

/* vibrant */
@font-face {
    font-family: 'Nobile';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/nobile-v17-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/baloo-2-v21-latin-700.woff2') format('woff2');
}

/* bauhaus */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/outfit-v11-latin-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/outfit-v11-latin-700.woff2') format('woff2');
}
