/*
    THEMES
    - spacing and text size from andy/utopia
    - rest: open props
*/

/*
    --brand: h1, h2, accent-color
    --accent: h3
    --text: color, border-color
    --background: background
    --surface: .card background

*/

html {
    /* fonts */
    --font-body-light: 'Inter', sans-serif;
    --font-display-light: 'Rubik', sans-serif;
    /* colors */
    --brand-light: var(--blue-9);
    --accent-light: var(--indigo-8-hsl);
    --text-light: var(--indigo-12);
    --background-light: #fafdff;
    --surface-light: var(--gray-2-hsl) / 30%;
    /* other */
    --border-size-light: var(--border-size-2);
    --border-radius-light: var(--radius-3);
    --shadow-light: var(--shadow-2);

    /* fonts */
    --font-body-dark: 'Nunito Sans', sans-serif;
    --font-display-dark: 'Nunito', sans-serif;
    /* colors */
    --brand-dark: var(--pink-5);
    --accent-dark: var(--pink-3-hsl);
    --text-dark: var(--gray-3);
    --background-dark: var(--gray-8);
    --surface-dark: var(--gray-7-hsl);
    /* other */
    --border-size-dark: 0;
    --border-radius-dark: var(--radius-2);
    --shadow-dark: var(--shadow-2);

    /* fonts */
    --font-body-vibrant: 'Nobile', sans-serif;
    --font-display-vibrant: 'Baloo 2', sans-serif;
    /* colors */
    --brand-vibrant: var(--violet-7);
    --accent-vibrant: var(--purple-5-hsl);
    --text-vibrant: var(--cyan-9);
    --background-vibrant: var(--gradient-18);
    --surface-vibrant: var(--cyan-0-hsl) / 20%;
    /* other */
    --border-size-vibrant: 0;
    --border-radius-vibrant: var(--radius-blob-2);
    --shadow-vibrant: var(--shadow-2);

    /* fonts */
    --font-body-bauhaus: 'Outfit', sans-serif;
    --font-display-bauhaus: 'Outfit', sans-serif;
    /* colors */
    --brand-bauhaus: var(--red-8);
    --accent-bauhaus: var(--yellow-4-hsl);
    --text-bauhaus: var(--stone-10);
    --background-bauhaus: var(--stone-3);
    --surface-bauhaus: var(--stone-3-hsl);
    /* other */
    --border-size-bauhaus: var(--border-size-3);
    --border-radius-bauhaus: 0;
    --shadow-bauhaus: none;
}

/* set defaults */
:root {
    color-scheme: light;

    --font-display: var(--font-display-light);
    --font-body: var(--font-body-light);

    --brand: var(--brand-light);
    --accent: var(--accent-light);
    --text: var(--text-light);
    --background: var(--background-light);
    --surface: var(--surface-light);

    --border-size: var(--border-size-light);
    --border-radius: var(--border-radius-light);
    --shadow: var(--shadow-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --font-display: var(--font-display-dark);
        --font-body: var(--font-body-dark);

        --brand: var(--brand-dark);
        --accent: var(--accent-dark);
        --text: var(--text-dark);
        --background: var(--background-dark);
        --surface: var(--surface-dark);

        --border-size: var(--border-size-dark);
        --border-radius: var(--border-radius-dark);
        --shadow: var(--shadow-dark);
    }
}

[data-theme='light'] {
    color-scheme: light;

    --font-display: var(--font-display-light);
    --font-body: var(--font-body-light);

    --brand: var(--brand-light);
    --accent: var(--accent-light);
    --text: var(--text-light);
    --background: var(--background-light);
    --surface: var(--surface-light);

    --border-size: var(--border-size-light);
    --border-radius: var(--border-radius-light);
    --shadow: var(--shadow-light);
}

[data-theme='dark'] {
    color-scheme: dark;

    --font-display: var(--font-display-dark);
    --font-body: var(--font-body-dark);

    --brand: var(--brand-dark);
    --accent: var(--accent-dark);
    --text: var(--text-dark);
    --background: var(--background-dark);
    --surface: var(--surface-dark);

    --border-size: var(--border-size-dark);
    --border-radius: var(--border-radius-dark);
    --shadow: var(--shadow-dark);
}

[data-theme='vibrant'] {
    color-scheme: light;

    --font-display: var(--font-display-vibrant);
    --font-body: var(--font-body-vibrant);

    --brand: var(--brand-vibrant);
    --accent: var(--accent-vibrant);
    --text: var(--text-vibrant);
    --background: var(--background-vibrant);
    --surface: var(--surface-vibrant);

    --border-size: var(--border-size-vibrant);
    --border-radius: var(--border-radius-vibrant);
    --shadow: var(--shadow-vibrant);
}

[data-theme='bauhaus'] {
    color-scheme: light;

    --font-display: var(--font-display-bauhaus);
    --font-body: var(--font-body-bauhaus);

    --brand: var(--brand-bauhaus);
    --accent: var(--accent-bauhaus);
    --text: var(--text-bauhaus);
    --background: var(--background-bauhaus);
    --surface: var(--surface-bauhaus);

    --border-size: var(--border-size-bauhaus);
    --border-radius: var(--border-radius-bauhaus);
    --shadow: var(--shadow-bauhaus);
}
