.badge {
    display: inline-block;
    padding-inline-end: calc(var(--space-xs) / 2);
    border-block-end: var(--stroke);
    border-inline-end: var(--stroke);
    box-shadow: 3px 3px 0 var(--color-mid);
    font-size: var(--size-step-00);
}

.cluster:has(.badge) {
    --gutter: var(--space-m);
}
