.card {
    background: hsl(var(--surface));
    background-size: cover;
    padding: var(--space-m);
    border: var(--border-size) solid var(--text);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

:where(html[theme='vibrant']) .card {
    padding: 0;
}

:where(html[theme='vibrant']) .card article {
    border-radius: var(--border-radius);
    background: hsl(var(--surface));
}
