.footer {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding-block: var(--space-m);
}

.footer .cluster {
    --gutter: 0 var(--space-xs);
    --cluster-vertical-alignment: baseline;
}

.footer dl > * {
    margin: 0;
}
