.header {
    padding-block: var(--space-m);
}

a.header__home {
    display: flex;
    color: currentColor;
    text-decoration-skip-ink: auto;
    display: flex;
}

a.header__home:hover {
    box-shadow: 0 3px 0 var(--color-mid);
}

.header ul {
    margin-block: 0;
    padding: 0;
}
