.project-card figure {
    --padding: calc(var(--space-xs) / 2);

    overflow: hidden;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.project-card figure div {
    padding-block-start: var(--padding);
    padding-inline: var(--padding);
    background: var(--brand);
}


.project-card .image-container {
    position: relative;
    isolation: isolate;
}

.project-card .image-overlay {
    border-radius: var(--border-radius);
    position: absolute;
    inset: 0;
    background-color: var(--brand);
    mix-blend-mode: color;
}

.project-card img {
    --nested-border-radius: calc(var(--border-radius) - var(--padding));

    mix-blend-mode: screen;
    inline-size: 100%;
    object-fit: cover;
    border-radius: var(--nested-border-radius) var(--nested-border-radius) 0 0;
    box-shadow: var(--shadow);
    filter: grayscale(100) contrast(75%);
}

.project-card h3 > sup {
    font-size: calc(var(--size-step-0) * 0.75);
}
