.projects article.sidebar {
    --sidebar-align: center;
}

.projects img {
    border: var(--stroke);
}

.projects img[data-border-side='right'] {
    box-shadow: 3px 3px 0 var(--color-primary);
}

.projects img[data-border-side='left'] {
    box-shadow: -3px 3px 0 var(--color-primary);
}

.projects article ul {
    list-style: none;
    margin-block: 0;
    padding: 0;
}
