.project-card figure {
    --padding: calc(var(--space-xs) / 2);

    overflow: hidden;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.project-card figure div {
    padding-block-start: var(--padding);
    padding-inline: var(--padding);
    background: var(--brand);
}

.project-card img {
    --nested-border-radius: calc(var(--border-radius) - var(--padding));

    inline-size: 100%;
    object-fit: cover;
    border-radius: var(--nested-border-radius) var(--nested-border-radius) 0 0;
    box-shadow: var(--shadow);
}
