ul.reveal-link-list {
    margin-block: 0;
    padding: 0;
    list-style: none;
    font-size: var(--size-step-2);
}

.reveal-link-list li {
    --sidebar-target-width: content;
    --gutter: var(--space-xs);
    border-block-end: var(--stroke);
}

.reveal-link-list a {
    text-decoration: none;
    color: currentColor;
}

.reveal-link-list__revealable {
    display: none;
    font-size: var(--size-step-1);
    color: var(--color-primary);
    text-decoration: underline;
}

.reveal-link-list li:hover .reveal-link-list__revealable {
    display: revert;
}
