.reveal-link-list {
    --stroke-width: 0.5px;

    padding: 0;
    list-style: none;
}

.reveal-link-list li {
    --flow-space: 1lh;

    border-block-end: var(--stroke);
}

.reveal-link-list details {
    min-height: 2lh;
}

.reveal-link-list details summary {
    margin-block-end: 0;
}

.reveal-link-list details a,
.reveal-link-list details p {
    font-size: var(--size-step-0);
}
