<button
    class="tooltip"
    x-tooltip="{
    content: () => $refs.{{ ref }}.innerHTML,
    interactive: true,
    allowHTML: true,
    appendTo: $root
}"
>
    i
    <span class="sr-only">More info</span>
</button>
<template x-ref="{{ ref }}">
    <div class="flow">{{ content | safe }}</div>
</template>
