<button
    class="tooltip"
    x-tooltip="{
        content: () => $refs.{{ id }}.innerHTML,
        interactive: true,
        allowHTML: true,
        appendTo: $root
    }"
>
    i
    <span class="sr-only">More info</span>
</button>
<template x-ref="{{ id }}">
    <div class="flow">{{ content | markdown | safe }}</div>
</template>
