{%- macro revealLinkList(params) -%}
<ul
    class="reveal-link-list {% if params.grid %}grid{% else %}flow{% endif %}"
    {%
    if
    params.grid
    %}data-layout="50-50"
    {%
    endif
    %}
>
    {% for item in params.items %}
    <li>
        <details name="{{ params.name }}">
            <summary>{{ item.label }}</summary>
            <div class="repel">
                {% if item.url %}
                <a href="{{ item.url }}" target="_blank">
                    {{ item.url | replace('https://', '') | replace('mailto:', '') }}
                </a>
                {% endif %} {% if item.content %}
                <p>
                    {{ item.content }}
                </p>
                {% endif %}
            </div>
        </details>
    </li>
    {% endfor %}
</ul>
{%- endmacro -%}
