<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000" />

        <title>cv | malte bär</title>

        <link rel="stylesheet" href="/assets/css/global.css" />
    </head>

    <body>
        {% include "partials/header.njk" %}

        <main>{{ content | safe }}</main>

        {% include "partials/footer.njk" %}
    </body>
</html>
