<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#ff1277" />
        <meta
            name="description"
            content="malte bär's web development portfolio showcasing accessible projects built with native web technologies. explore my work experience, coding approach, and the evolution of this site."
        />

        <title>cv | malte bär</title>

        <link rel="stylesheet" href="/assets/css/global.css" />
    </head>

    <body class="cover">
        {% include "partials/header.njk" %}

        <main class="wrapper">{{ content | safe }}</main>

        {% include "partials/footer.njk" %}

        <script src="/assets/scripts/app.js"></script>
    </body>
</html>
