<div>
    <h3 class="text-sm font-semibold text-gray-800">
        {{item.role}}
    </h3>
    <div class="flex items-baseline justify-between mt-1 md:block lg:flex">
        <div class="flex items-baseline text-lg font-medium text-sky-700">
            <a href="{{item.website}}">{{item.location}}</a>
            <span class="ml-2 text-sm font-medium text-gray-500">
                {{item.start.toLocaleDateString("en-GB", {
                'year': 'numeric',
                'month': 'long'
                })}} -
                {{item.end
                ? item.end.toLocaleDateString("en-GB", {
                'year': 'numeric',
                'month': 'long'
                })
                : 'present'}}
            </span>
        </div>
    </div>
    <p *ngIf="item.description" class="mt-1 text-sm text-gray-600">{{item.description}}</p>
</div>
