<div class="min-h-full">
    <header class="pb-24 bg-gradient-to-r from-sky-800 to-cyan-600">
        <div class="max-w-3xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="h-8">
            </div>
        </div>
    </header>

    <main class="pb-8 -mt-24">
        <div class="max-w-3xl px-4 mx-auto sm:px-6 lg:max-w-7xl lg:px-8">
            <!-- Main 3 column grid -->
            <div class="grid items-start grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
                <!-- Left column -->
                <div class="grid grid-cols-1 gap-4 lg:col-span-2">
                    <!-- Welcome -->
                    <app-me></app-me>

                    <!-- Welcome -->
                    <app-skills></app-skills>


                    <!-- Projects -->
                    <app-projects></app-projects>
                </div>

                <!-- Right column -->
                <div class="grid grid-cols-1 gap-4">
                    <!-- Work experience -->
                    <app-work-experience></app-work-experience>

                    <!-- Education -->
                    <app-education></app-education>
                </div>
            </div>
        </div>
    </main>
</div>
