.cover {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
}

.cover > :first-child:not(main) {
    margin-block-start: 0;
}

.cover > :last-child:not(main) {
    margin-block-end: 0;
}

.cover > main {
    margin-block: auto;
    inline-size: 100%;
}
