/*
    THEMES
    - spacing and text size from andy/utopia
    - rest: open props
*/

html {
    /* colors */
    --brand-light: var(--purple-6);
    --text-1-light: var(--purple-9);
    --text-2-light: var(--purple-7);
    --background-light: var(--purple-0);
    --surface-1-light: var(--purple-0-hsl);
    --surface-2-light: var(--purple-1);
    --surface-3-light: var(--purple-2);
    --surface-4-light: var(--purple-3);
    /* ... */
    --border-radius-light: 0;

    /* colors */
    --brand-dark: var(--pink-4);
    --text-1-dark: var(--gray-3);
    --text-2-dark: var(--gray-4);
    --background-dark: var(--gray-8);
    --surface-1-dark: var(--gray-8-hsl);
    --surface-2-dark: var(--gray-7);
    --surface-3-dark: var(--gray-6);
    --surface-4-dark: var(--gray-5);
    /* ... */
    --border-radius-dark: var(--radius-3);

    /* colors */
    --brand-custom: var(--violet-7);
    --text-1-custom: var(--cyan-9);
    --text-2-custom: var(--cyan-7);
    --background-custom: var(--gradient-18);
    --surface-1-custom: var(--cyan-0-hsl);
    --surface-2-custom: var(--cyan-1);
    --surface-3-custom: var(--cyan-2);
    --surface-4-custom: var(--cyan-3);
    /* ... */
    --border-radius-custom: var(--radius-blob-2);
}

:root {
    color-scheme: light;

    /* set defaults */
    --brand: var(--brand-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --background: var(--background-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);

    --border-radius: var(--border-radius-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --brand: var(--brand-dark);
        --text-1: var(--text-1-dark);
        --text-2: var(--text-2-dark);
        --background: var(--background-dark);
        --surface-1: var(--surface-1-dark);
        --surface-2: var(--surface-2-dark);
        --surface-3: var(--surface-3-dark);
        --surface-4: var(--surface-4-dark);

        --border-radius: var(--border-radius-dark);
    }
}

[theme="light"] {
    color-scheme: light;

    --brand: var(--brand-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --background: var(--background-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);

    --border-radius: var(--border-radius-light);
}

[theme="dark"] {
    color-scheme: light;

    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --background: var(--background-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);

    --border-radius: var(--border-radius-dark);
}

[theme="custom"] {
    color-scheme: light;

    --brand: var(--brand-custom);
    --text-1: var(--text-1-custom);
    --text-2: var(--text-2-custom);
    --background: var(--background-custom);
    --surface-1: var(--surface-1-custom);
    --surface-2: var(--surface-2-custom);
    --surface-3: var(--surface-3-custom);
    --surface-4: var(--surface-4-custom);

    --border-radius: var(--border-radius-custom);
}
