---
layout: base.njk
title: 'about'
---

<div class="flow region">
    {% from 'macros/page-header.njk' import pageHeader %}
    {{ pageHeader({tag: 'malte bär', title: title}) }}

    <p>
        on this page i've listed the most important facts related to my professional life.
        the things i'm most interested in in web development, the different steps of my
        work experience and the path that led me to become a web developer.
    </p>
</div>

<article class="flow region">
    <h2>interest</h2>

    <p>
        find below a list of my current go to references for the things i'm most
        interested in.
    </p>

    {% from 'macros/reveal-link-list.njk' import revealLinkList %}
    {{ revealLinkList({items: interests, name: 'interests', grid: 'true'}) }}
</article>

<article class="experience flow region">
    <h2>experience</h2>

    <ul class="grid" data-layout="50-50">
        {% for job in experience %}
        <li>
            <article class="card flow">
                <footer>
                    <p>
                        <time datetime="{{ job.start }}">
                            {{ job.start | getLocaleDateString }}
                        </time>
                        -
                        <time datetime="{{ job.end }}">
                            {{ job.end | getLocaleDateString }}
                        </time>
                    </p>
                </footer>

                {% include 'svg/' + job.framework + '.svg' %}

                <header>
                    <h3>
                        <span>{{ job.role }}</span>
                    </h3>
                    <p>
                        at
                        <a href="{{ job.website }}" target="_blank">
                            {{ job.location }}
                        </a>
                    </p>
                </header>

                <p>{{ job.description }}</p>
            </article>
        </li>
        {% endfor %}
    </ul>
</article>

<article class="education flow region">
    <h2>education</h2>

    <div class="education__table-container">
        <table>
            <tbody>
                {% for step in education %}
                <tr>
                    <td>
                        <p>
                            <time datetime="{{ step.start }}">
                                {{ step.start | getLocaleDateString }}
                            </time>
                            -
                            <time datetime="{{ step.end }}">
                                {{ step.end | getLocaleDateString }}
                            </time>
                        </p>
                    </td>
                    <td>
                        <h3>{{ step.type }}</h3>
                    </td>
                    <td>
                        <p>
                            at
                            <a href="{{ step.website }}" target="_blank">
                                {{ step.location }}
                            </a>
                        </p>
                    </td>
                    <td>
                        <p>{{ step.description }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</article>
