---
layout: base.njk
---

<article class="flow region">
    {% from 'macros/page-header.njk' import pageHeader %}
    {{ pageHeader({tag: 'web dev', title: 'malte bär'}) }}

    <p>
        i love building simple and accessible websites by choosing native web technologies
        over the next hyped javascript framework. my goal is to use semantic html and
        native css to do the heavy lifting, and only use javascript when really needed.
    </p>

    <div class="switcher">
        <img
            src="https://picsum.photos/seed/picsum/600/400"
            class="border-right border-bottom"
        />

        {% from 'macros/reveal-link-list.njk' import revealLinkList %}
        {{
            revealLinkList({
                items: [
                    {
                        label: 'location',
                        url: 'https://potsdam.com'
                    },
                    {
                        label: 'mail',
                        url: 'mailto:maltebaer@posteo.de'
                    },
                    {
                        label: 'github',
                        url: 'https://github.com/maltebaer/'
                    },
                    {
                        label: 'linkedin',
                        url: 'https://linkedin.com/in/maltebaer/'
                    }
                ]
            })
        }}
    </div>
</article>
