---
layout: base.njk
title: 'malte bär'
---

<article class="flow region">
    {% from 'macros/page-header.njk' import pageHeader %}
    {{ pageHeader({tag: 'web dev', title: title}) }}

    <p>
        look, mum, no breakpoints! this site embraces the natural power of the web
        platform. just plain html, thoughtful css and javascript only where it's really
        needed (it's not, at least not on a simple site like this).
    </p>

    <p>
        around here, i believe in making things work for everyone. my approach focuses on
        creating accessible, performant websites that don't sacrifice on experience. feel
        free to explore my <a href="/projects">projects</a> and
        <a href="/about">background</a>.
    </p>

    <div class="switcher">
        <img
            src="https://picsum.photos/seed/picsum/600/400"
            class="border-right border-bottom"
        />

        {% from 'macros/reveal-link-list.njk' import revealLinkList %}
        {{
            revealLinkList({
                name: 'contact',
                items: [
                    {
                        label: 'location',
                        url: 'https://potsdam.com'
                    },
                    {
                        label: 'mail',
                        url: 'mailto:maltebaer@posteo.de'
                    },
                    {
                        label: 'github',
                        url: 'https://github.com/maltebaer/'
                    },
                    {
                        label: 'linkedin',
                        url: 'https://linkedin.com/in/maltebaer/'
                    }
                ]
            })
        }}
    </div>
</article>
