---
layout: 'base.njk'
---

<div class="sidebar">
    <div class="">hello</div>
    {% from 'macros/reveal-link-list.njk' import revealLinkList %}
    {{
        revealLinkList({
            name: 'patterns',
            grid: 'true',
            items: [
                {
                    label: 'hello how are you',
                    url: 'https://doing-in-this-world.com'
                },
                {
                    label: 'foo',
                    url: 'https://bar.com'
                },
                {
                    label: 'lorem ipsum',
                    url: 'https://dolor-set.com'
                }
            ]
        })
    }}
</div>
