---
layout: 'base.njk'
---

<div>
    {% from 'macros/reveal-link-list.njk' import revealLinkList %}
    {{
        revealLinkList({
            items: [
                {
                    label: 'hello',
                    url: 'https://world.com'
                },
                {
                    label: 'foo',
                    url: 'https://bar.com'
                },
                {
                    label: 'lorem ipsum',
                    url: 'https://dolor-set.com'
                }
            ]
        })
    }}
</div>
