---
layout: base.njk
title: 'projects'
---

<div class="flow region">
    {% from 'macros/page-header.njk' import pageHeader %}
    {{ pageHeader({tag: 'malte bär', title: title}) }}

    <p>
        text, or words, are not the medium i feel most comfortable with. that's why i've
        collected these side projects here, to let my code do the talking for me.
    </p>

    <p>
        each project has source code linked so you can get a feel for how i approach
        problems and structure solutions. you may notice that over the years my setups
        have gotten simpler while the results, in my opinion, have gotten more
        interesting.
    </p>

    <p>
        curious about my main side project? you're looking at it. this site has gone
        through several iterations, which you can explore in the
        <a href="/time-machine">time machine</a> section to see how my approach to web
        development has matured.
    </p>
</div>

<div class="projects flow region flow-space-2xl">
    {% for project in projects %}
    <article
        class="sidebar"
        {%
        if
        loop.index
        is
        even
        %}data-reversed
        {%
        endif
        %}
        data-direction="rtl"
    >
        <div>
            <img
                data-border-side="{% if loop.index is even %}left{% else %}right{% endif %}"
                src="{{ project.imgUrl }}"
                alt="screenshot of {{ project.title }} project"
            />
        </div>

        <div class="flow flow-space-1em">
            <h2>
                <a href="{{ project.website }}" target="_blank">
                    <span>{{ project.title }}</span>
                </a>
                <span>{{ project.year }}</span>
            </h2>
            <p>
                <a href="{{ project.sourceCodeUrl }}" target="_blank">source code</a>
            </p>
            <p>{{ project.description | safe }}</p>
            <footer>
                <ul class="cluster">
                    {% for technology in project.technologies %}
                    <li class="badge">{{ technology }}</li>
                    {% endfor %}
                </ul>
            </footer>
        </div>
    </article>
    {% endfor %}
</div>
