---
layout: base.njk
title: 'time machine'
---

<article class="flow region">
    {% from 'macros/page-header.njk' import pageHeader %}
    {{ pageHeader({tag: 'malte bär', title: title}) }}

    <p>
        welcome to my digital time capsule! this is where i experiment, learn new concepts
        and just have fun coding. because this site is a relatively simple project, it
        gives me the perfect playground to implement new ideas without distraction.
    </p>

    <p>
        <a href="https://hicks.design/journal/bill-oddie" target="__blank">jon hicks</a>
        inspired me to create a time machine. i like the idea of hosting your own little
        internet archive.
    </p>

    <blockquote cite="https://hicks.design/journal/bill-oddie">
        <p>It’s a lot like an embarrassing family photo, but I’m owning it!</p>
        <footer>
            <p>—Jon Hicks, <cite>Bill Oddie taught me how to make web sites</cite></p>
        </footer>
    </blockquote>
</article>

<div class="time-machine flow region flow-space-2xl">
    {% for version in versions %}
    <article>
        <div class="flow flow-space-1em">
            <h2>{{ version.year }}</h2>
            <div class="resizer">
                <iframe src="{{ version.url }}" allow="fullscreen"></iframe>
            </div>
            <footer class="repel">
                <dl class="cluster">
                    <dt>tools</dt>
                    {% for tool in version.tools %}
                    <dd class="badge">{{ tool }}</dd>
                    {% endfor %}
                </dl>
                <a href="{{ version.sourceCode }}" target="__blank">source code</a>
            </footer>
        </div>
    </article>
    {% endfor %}
</div>
