---
order: 5
title: education
---

<h2 id="{{ title }}">{{ title }}</h2>

<div class="card | flow">
    <ul
        class="grid"
        data-layout="50-50"
    >
        {% for step in education %}
            <li class="will-grow">
                <article class="flow">
                    <header class="flow">
                        <h3>
                            <span>{{ step.type }}</span>
                        </h3>

                        <p>
                            <a
                                href="{{ step.website }}"
                                target="_blank"
                                rel="noopener noreferrer"
                            >{{ step.location }}</a>
                        </p>
                    </header>

                    <p>{{ step.description }}</p>

                    <footer>
                        <p>
                            <time datetime="{{ step.start }}">{{ step.start | getLocaleDateString }}</time>
                            -
                            <time datetime="{{ step.end }}">{{ step.end | getLocaleDateString }}</time>
                        </p>
                    </footer>
                </article>
            </li>
        {% endfor %}
    </ul>
</div>
