---
order: 5
title: education
---

<h2 id="{{ title }}">{{ title }}</h2>

<div class="card">
    <ul class="switcher" style="--switcher-gap: var(--space-l-xl)">
        {% for step in education %}
            <li class="will-grow max-w-none">
                <article
                    class="with-sidebar"
                    style="
                        --sidebar-gap: 0.5rem var(--space-l-xl);
                        --sidebar-width: 16ch;
                        --sidebar-content-min-width: 50%
                    ">
                    <aside>
                        <footer>
                            <p>
                                <time datetime="{{ step.start }}">{{ step.start | getLocaleDateString }}</time>
                                -
                                <time datetime="{{ step.end }}">{{ step.end | getLocaleDateString }}</time>
                            </p>
                        </footer>
                    </aside>

                    <div class="flow">
                        <header
                                class="cluster"
                                style="
                                    --cluster-gap: 0.5rem var(--space-s);
                                    --cluster-vertical-alignment: baseline;
                                ">
                            <h3>
                                <span>{{ step.type }}</span>
                            </h3>
                            <p>
                                at
                                <a
                                    class="will-move"
                                    href="{{ step.website }}"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >{{ step.location }}</a>
                            </p>
                        </header>
                        <p>{{ step.description }}</p>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ul>
</div>
