---
order: 4
title: experience
---

<h2 id="{{ title }}">{{ title }}</h2>

<div class="card">
    <ul class="stack" data-stack-space="loose">
        {% for job in experience %}
            <li class="will-grow max-w-none">
                <article class="timeline-view | with-sidebar">
                    <footer>
                        <p>
                            <time datetime="{{ job.start }}">{{ job.start | getLocaleDateString }}</time>
                            -
                            <time datetime="{{ job.end }}">{{ job.end | getLocaleDateString }}</time>
                        </p>
                    </footer>

                    <div class="flow">
                        <header
                            class="cluster"
                            style="
                                --cluster-gap: 0.5rem var(--space-s);
                                --cluster-vertical-alignment: baseline;
                            ">
                            <h3>
                                <span>{{ job.role }}</span>
                            </h3>
                            <p>
                                at
                                <a
                                    class="will-move"
                                    href="{{ job.website }}"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >{{ job.location }}</a>
                            </p>
                        </header>
                        <p>{{ job.description }}</p>
                        {% if job.technologies %}
                            <ul class="cluster">
                                {% for technology in job.technologies %}
                                    <li class="badge">{{ technology }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </article>
            </li>
        {% endfor %}
    </ul>
</div>
