---
order: 4
---

<h2 id="experience">experience</h2>

<div class="card | flow">
    <ul
        class="grid"
        data-layout="50-50"
    >
        {% for job in experience %}
            <li class="will-grow">
                <article class="flow">
                    <header class="flow">
                        <h3>
                            <span>{{ job.role }}</span></h3>

                        <p>
                            <a
                                href="{{ job.website }}"
                                target="_blank"
                                rel="noopener noreferrer"
                            >{{ job.location }}</a>
                        </p>
                    </header>

                    <p>{{ job.description }}</p>

                    <footer>
                        <p>
                            <time datetime="{{ job.start }}">{{ job.start | getLocaleDateString }}</time>
                            -
                            <time datetime="{{ job.end }}">{{ job.end | getLocaleDateString }}</time>
                        </p>
                    </footer>
                </article>
            </li>
        {% endfor %}
    </ul>
</div>
