---
order: 2
title: interests
---

<h2 id="{{ title }}">{{ title }}</h2>

<div class="card | flow">
    <ul class="cluster">
        {% for interest in interests %}
            <li>{{ interest }}</li>
        {% endfor %}
    </ul>
</div>
