---
order: 1
---

<header class="flow">
    <h1>malte bär</h1>

    <p>web developer</p>
</header>

<p>i focus on crafting clean, accessible interfaces using the inherent capabilities of browsers. embracing simplicity, i prioritize semantic html and efficient css to create functional, user-friendly experiences.</p>

<ul class="cluster">
    <li>potsdam, germany</li>
    <li class="will-move">
        <a href="mailto:maltebaer@posteo.de"
            >maltebaer@posteo.de</a
        >
    </li>
    <li class="will-move">
        <a
            href="https://github.com/maltebaer/"
            target="_blank"
            rel="noopener noreferrer"
            >github</a
        >
    </li>
    <li class="will-move">
        <a
            href="https://linkedin.com/in/maltebaer/"
            target="_blank"
            rel="noopener noreferrer"
            >linkedin</a
        >
    </li>
</ul>
