---
order: 1
title: intro
---

<header>
    <p class="badge w-[fit-content]">web developer</p>
    <h1>malte bär</h1>
</header>

<p>
    i love building simple and accessible websites by choosing native web technologies over the next hyped javascript
    framework. my goal is to use semantic html and native css to do the heavy lifting, and only use javascript when
    really needed.
</p>

<ul class="cluster">
    <li>potsdam, germany</li>
    <li>
        <a
            class="will-move"
            href="mailto:maltebaer@posteo.de"
        >
            maltebaer@posteo.de
        </a>
    </li>
    <li>
        <a
            class="will-move"
            href="https://github.com/maltebaer/"
            target="_blank"
            rel="noopener noreferrer"
        >
            github
        </a>
    </li>
    <li>
        <a
            class="will-move"
            href="https://linkedin.com/in/maltebaer/"
            target="_blank"
            rel="noopener noreferrer"
        >
            linkedin
        </a>
    </li>
</ul>
