---
order: 1
title: intro
---

<header class="stack" style="--stack-space: 0.125rem">
    <p class="badge w-[fit-content]">web developer</p>
    <h1>malte bär</h1>
</header>

<p>i focus on crafting clean, accessible interfaces using the inherent capabilities of browsers. embracing simplicity, i prioritize semantic html and efficient css to create functional, user-friendly experiences.</p>

<ul class="cluster">
    <li>potsdam, germany</li>
    <li>
        <a
            class="will-move"
            href="mailto:maltebaer@posteo.de">
                maltebaer@posteo.de
        </a>
    </li>
    <li>
        <a
            class="will-move"
            href="https://github.com/maltebaer/"
            target="_blank"
            rel="noopener noreferrer">
                github
        </a>
    </li>
    <li>
        <a
            class="will-move"
            href="https://linkedin.com/in/maltebaer/"
            target="_blank"
            rel="noopener noreferrer">
                linkedin
        </a>
    </li>
</ul>
