---
order: 3
title: projects
---

<h2 id="{{ title }}">{{ title }}</h2>

<ul
    class="grid"
    data-layout="50-50"
>
    {% for project in projects %}
        <li class="will-grow">
            <article class="project-card | flow">
                <figure class="flow">
                    <img src="https://picsum.photos/id/{{ loop.index }}/300/200"/>
                    <figcaption>
                        <h3>
                            <a
                                class="will-move"
                                href="{{ project.website }}"
                                target="_blank"
                                rel="noopener noreferrer"
                            >{{ project.title }}</a>
                        </h3>
                    </figcaption>
                </figure>

                <div class="flow">
                    <p>{{ project.description }}</p>

                    <footer class="cluster">
                        <p>
                            <a
                                class="will-move"
                                href="{{ project.sourceCodeUrl }}"
                                target="_blank"
                                rel="noopener noreferrer"
                                >source code
                            </a>
                        </p>
                        <ul class="cluster">
                            {% for technology in project.technologies %}
                                <li>{{ technology }}</li>
                            {% endfor %}
                        </ul>
                    </footer>
                </div>
            </article>
        </li>
    {% endfor %}
</ul>
