---
order: 3
title: projects
---

<h2 id="{{ title }}">{{ title }}</h2>

<div class="card | flow">
    <ul
        class="grid"
        data-layout="50-50"
    >
        {% for project in projects %}
            <li class="will-grow">
                <article class="flow">
                    <header class="flow">
                        <h3>
                            <a
                                href="{{ project.website }}"
                                target="_blank"
                                rel="noopener noreferrer"
                            >{{ project.title }}</a>
                        </h3>

                        <p>
                            <a
                                href="{{ project.sourceCodeUrl }}"
                                target="_blank"
                                rel="noopener noreferrer"
                                >source code
                            </a>
                        </p>
                    </header>

                    <p>{{ project.description }}</p>

                    <footer>
                        <ul class="cluster">
                            {% for technology in project.technologies %}
                                <li>{{ technology }}</li>
                            {% endfor %}
                        </ul>
                    </footer>
                </article>
            </li>
        {% endfor %}
    </ul>
</div>
