---
order: 3
title: projects
---

<h2 id="{{ title }}">{{ title }}</h2>

<ul
    class="grid"
    data-layout="50-50"
>
    {% for project in projects %}
        <li class="will-grow">
            <article class="project-card | flow">
                <a
                    class="no-underline"
                    href="{{ project.website }}"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <figure class="flow">
                        <img src="{{ project.imgUrl }}" alt="screenshot of {{ project.title }} project"/>
                        <figcaption class="cluster" style="--cluster-vertical-alignment: baseline">
                            <h3>
                                <span>{{ project.title }}</span>
                            </h3>
                            <p>
                                <a
                                class="will-move"
                                href="{{ project.sourceCodeUrl }}"
                                target="_blank"
                                rel="noopener noreferrer"
                                >source code
                            </a>
                            </p>
                        </figcaption>
                    </figure>
                </a>

                <div class="flow">
                    <p>{{ project.description | safe }}</p>

                    <footer>
                        <ul class="cluster">
                            {% for technology in project.technologies %}
                                <li class="badge">{{ technology }}</li>
                            {% endfor %}
                        </ul>
                    </footer>
                </div>
            </article>
        </li>
    {% endfor %}
</ul>
