<footer class="tmp | flex flex-wrap justify-between gap-m">
    <p>
        heavily inspired by
        <a
            href="https://buildexcellentwebsit.es"
            target="_blank"
            rel="noopener noreferrer"
            >buildexcellentwebsit.es
        </a>
    </p>
    <span class="tmp | flex gap-xs">
        <p class="shrink-0">build with</p>
        <ul class="tmp | flex flex-wrap gap-xs">
            <li>
                <a
                    href="https://cube.fyi"
                    target="_blank"
                    rel="noopener noreferrer"
                    >cube css
                </a>
            </li>
            <li>
                <a
                    href="https://open-props.style"
                    target="_blank"
                    rel="noopener noreferrer"
                    >open props
                </a>
            </li>
            <li>
                <a
                    href="https://utopia.fyi"
                    target="_blank"
                    rel="noopener noreferrer"
                    >utopia
                </a>
            </li>
        </ul>
    </span>
</footer>
