<footer class="cluster" style="--cluster-space: var(--space-xs) var(--space-xl); --cluster-horizontal-alignment: space-between">
    <p>
        heavily inspired by
        <a
            href="https://buildexcellentwebsit.es"
            target="_blank"
            rel="noopener noreferrer"
            >buildexcellentwebsit.es
        </a>
    </p>

    <dl class="cluster" style="--cluster-space: var(--space-xs)">
        <dt>build with</dt>
        <dd class="will-move">
            <a
                href="https://cube.fyi"
                target="_blank"
                rel="noopener noreferrer"
                >cube css
            </a>
        </dd>
        <dd class="will-move">
            <a
                href="https://open-props.style"
                target="_blank"
                rel="noopener noreferrer"
                >open props
            </a>
        </dd>
        <dd class="will-move">
            <a
                href="https://utopia.fyi"
                target="_blank"
                rel="noopener noreferrer"
                >utopia
            </a>
        </dd>
    </dl>
</footer>
