<header class="header">
    <nav class="wrapper">
        <!-- block -->
        <ul>
            <li><a href="#interests">interests</a></li>
            <li><a href="#projects">projects</a></li>
            <li><a href="#experience">experience</a></li>
            <li><a href="#education">education</a></li>
        </ul>
    </nav>
</header>
