<header class="header">
    <a
        href="/"
        class="logo | will-move"
    >
        {% include 'svg/code.svg' %}

        <span class="sr-only">home</span>
    </a>
    <nav>
        <ul>
            {% for subpage in collections.subpage | sortByOrder %} {% if
            subpage.data.title !== 'intro' %}
            <li>
                <a
                    class="will-move"
                    href="/#{{ subpage.data.title }}"
                >
                    {{ subpage.data.title }}
                </a>
            </li>
            {% endif %} {% endfor %}
            <li>
                <a
                    class="will-move"
                    href="/time-machine"
                >
                    time machine
                </a>
            </li>
        </ul>
    </nav>
</header>
