<header class="header">
    <div class="wrapper repel">
        <a href="/" class="header__home">
            {% include 'svg/code.svg' %}
            <span class="sr-only">home</span>
        </a>

        <nav>
            <ul class="cluster" role="list">
                {% for item in navigation %}
                    <li>
                        <a href="{{ item.href }}" {% if item.href == page.url %}aria-current="page"{% endif %}>{{ item.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
